a {
  color: #ffffff;
}

.infoP {
  padding-left: 40px;
}
.logoP {
}

.fundo {
  background: linear-gradient(180deg, #eb644e 15.52%, #ee7a3c 45%);
}

.invisible {
  display: none;
}

.fontNav {
  font-style: normal;
  font-size: 17px;
  line-height: 20px;
}
.navbar-nav > li {
  padding-left: 35px;
  padding-right: 25px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}
.produtos-image {
  background-image: linear-gradient(rgba(0, 0, 0, 55), rgba(0, 0, 0, 0.041));
  background-position: center;
  background-size: cover;
  border-radius: 174.619px;
  width: 412px;
  height: 255px;
}

.produtos-text {
  font-family: Roboto;
  color: white;
  font-size: 30px;
  text-align: left;
  margin-left: 25px;
  margin-top: 150px;
}
.produtos-text2 {
  font-family: Roboto;
  color: white;
  font-size: 27px;
  text-align: left;
  margin-left: 24px;
  margin-top: 95px;
  text-shadow: 2px 2px 4px #000;
}

/* Estilo Destaque Home*/
.home-destaque {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: 400;
  background: linear-gradient(180deg, #EE7A3C 28.18%, #EA5E53 60.85%, #EA5E53 95.89%);
}

.home-destaque h1 {
  font-size: 40px;
  font-weight: 700;
}

.home-destaque-numeros {
  text-align: center;
}

.home-destaque-numeros h2 {
  font-size: 40px;
  font-weight: 700;
}

.home-destaque-numeros p {
  font-size: 20px;
  font-weight: 500;
}

@media only screen and (min-width: 576px) {
  .home-destaque-borda {
   border-left: 5px solid #ffffff;
  }
}
/* Fim do Home Destaque */

/* Estilo do Footer */
.footer {
  background: linear-gradient(180deg, #ee7a3c 0%, #ea5e53 46.93%);
  font-family: "Roboto", sans-serif;
}

.footer-logo figure {
  width: 180px;
  height: 150px;
  margin-bottom: 0;
}

.footer-social {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-size: 20px;
  text-align: center;
}

.footer-social li {
  display: inline-block;
  padding: 8px;
}

.footer-social li a {
  vertical-align: middle;
}

.footer h5 {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
}

.footer a {
  font-weight: 700;
  text-decoration: none;

  -webkit-transition: color 0.5s, font-size 0.5s;
  transition: color 0.5s, font-size 0.5s;
}

.footer a:hover {
  color: #031d44;
}
/* Fim do Footer */

#contato-titulo {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 46px;

  color: #ffffff;
}

#contato-subtitulo {
  font-family: Ubuntu;
  font-style: italic;
  font-weight: normal;
  font-size: 24px;
  line-height: 28px;
  /* identical to box height */

  color: #ffffff;
}

.contato-lista-item {
  padding: 10px;
  min-width: 202px;
  margin: 30px 50px;
  display: inline-block;
  color: #fff;
  cursor: pointer;
}

.contato-lista-item:hover {
  padding: 10px;
  background: #ee7a3c;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}

#contato-container {
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 33px;
  min-height: 455px;
}

#contato-container label {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #585959;
}

#contato-container input {
  width: 256.71px;
  height: 32.45px;
  margin-bottom: 10px;
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
}

#contato-container textarea {
  height: 165px;
  resize: none;
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.contato-servico-botoes {
  border: 0;
  margin: 10px 10px;
  padding: 5px 15px;
  background-color: red;
  background: #c4c4c4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1), 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
}

.contato-servico-btn-active {
  background-color: #ee7a3c;
  color: white;
}

#contato-enviar {
  border: 0;
  padding: 5px 20px;
  color: white;
  background: #ee7a3c;
  border-radius: 8px;
  font-family: Ubuntu;
  font-style: italic;
  font-weight: bold;
  font-size: 16px;
}

#contato-msg-enviada {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  color: #585959;
}

#contato-msg-breve {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;

  color: #585959;
}

.qmSomos-image {
  background-position: center;
  background-size: cover;
  border-radius: 174.619px;
  width: 1303px;
  height: 386px;
}

.qmSomos-textL {
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  
}

.qmSomos-foto {
  width: 170px;
  height: 170px;
}

.qmSomos-foto img {
  height: 100%;
  object-fit: cover;
  object-position: top center;
  width: 100%;
}

/* Início Home Quem Somos */
.home-quemsomos {
  background-color: #ffffff;
}

.home-quemsomos h2 {
  color: #EE7A3C;
  font-size: 48px;
  font-weight: 700;
}

.font-default {
  font-family: 'Ubuntu', sans-serif;
}

.text-color-default {
  color: #585959;
}

.text-justify {
  text-align: justify;
}

.btn-polen {
  color: #ffffff;
  background-color: #EE7A3C;
  border-color: #F7AD31;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  font-style: italic;
  font-weight: 700;
  padding: 6px 30px 6px 30px;
}
/* Fim Home Quem Somos */

/* Início Home Produtos */
.home-produtos {
  background-color: #EA5E53;
}

.home-produtos h2 {
  font-size: 24px;
  font-weight: 700;
}

.home-produto figure {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 50%;
  width: 140px;
  height: 140px;
  padding: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.home-produto img {
  margin: 8px;
  object-fit: contain;
}

.home-produto p {
  font-size: 20px;
  text-transform: uppercase;
}

.btn-polen-branco {
  color: #EE7A3C;
  background-color: #ffffff;
  border-color: #eee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 18px;
  font-style: italic;
  font-weight: 700;
  padding: 6px 30px 6px 30px;
}
/* Fim Home Produtos */

/* Início Home Ecossistema */
.home-ecossistema {
  background-color: #ffffff;
}

.home-ecossistema h2, h3 {
  color: #EE7A3C;
  font-weight: 700;
}

.home-ecossistema h2 {
  font-size: 40px;
}

.home-ecossistema h3 {
  font-size: 24px;
}

.home-ecossistema-box {
  border: 5px solid rgba(0, 0, 0, 0.28);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 75px;
  position: relative;
  z-index: 10;
  margin-bottom: -680px;
  background: #fff;
}

.colecao-logos {
  text-align: center;
}

.colecao-logos img {
  margin: 8px 16px 8px 16px;
  max-width: 185px;
  object-fit: contain;
}
/* Fim Home Ecossistema */

/* Início Home Depoimentos */
.home-depoimentos {
  background: linear-gradient(270deg, #EE7A3C -0.69%, #EA5E53 50%);
  font-family: 'Ubuntu', sans-serif;
  padding-top: 700px !important;
}

.home-depoimentos p {
  font-size: 32px;
  font-weight: 500;
  font-style: italic;
}

.home-depoimentos .simbolo-aspas {
  font-weight: bold;
  font-size: 218px;
  color:white;
  margin-left: -25px;
}

.home-depoimentos .texto-depoimento {
  margin-top: -168px;
}

@media only screen and (min-width: 768px) {
  .bg-polenzitos {
    background-image:  url('../images/home/polenzitos.png');
    background-position: right bottom;
    background-repeat: no-repeat;
    background-size: 680px auto;
  }
}

@media only screen and (min-width: 992px) {
  .bg-polenzitos {
    background-size: 520px auto;
  }
}

@media only screen and (min-width: 1200px) {
  .bg-polenzitos {
    background-size: 580px auto;
  }
}

@media only screen and (min-width: 1900px) {
  .bg-polenzitos {
    background-size: contain !important;
  }
}
/* Fim Home Depoimentos */ 

.fontNomes{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #585959;
}
.fontTeamInfo{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 33px;
  text-align: justify;
  color: #585959;

}
.fontTeamRole{
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  color: #585959;
}

/* Fundos Básicos */
.fundo-laranja {
  background-color: #EE7A3C;
}
/* Fim Fundos Básicos */

/* Estilo Destaque Ecossistema */
.ecossistema-destaque {
  font-family: 'Ubuntu', sans-serif;
  font-size: 24px;
  font-weight: 400;
}

.ecossistema-destaque h1 {
  font-size: 40px;
  font-weight: 700;
}
/* Fim do Home Destaque */

.quemsomos-card {
  background-position: center;
  background-size: cover;
  color: #fff;
  border-radius: 231.5px;
  font-family: 'Ubuntu', sans-serif;
  text-shadow: 2px 2px 4px #000;
}

.quemsomos-card .row {
  min-height: 384px;
  padding: 60px;
}

@media only screen and (min-width: 992px) {
  .quemsomos-card .row {
    padding: 0 0 35px 0 !important;
  }
}

.quemsomos-card h1 {
  font-size: 40px;
  font-weight: 700;
}

.quemsomos-card p {
  font-size: 24px;
  font-weight: 400;
}